*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* body{ */
    /* background-color: aqua; */
/* } */
/* shared style; */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
font-size: 45px;
}
.color-orange {
    color: #fd6e0a;
}
.btn{
   background-color: orange;
   border: none;
   padding: 18px 35px;
   border-radius: 6px;
   font-size: 20px;
   font-weight: bold;
   color: white;
}

header{

    background-color: lab(87.02% 6.56 12.32);
    padding-top: 50px;
}
nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
}